header{
  padding: 20px;
}
header .wrapper, header .wrapper nav{
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
 header .wrapper nav{
display: none;
}
.hero {
    height: auto;
    width: 100vw;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}
.hero .maincontent {
    width: 90%;
    padding: 0 2em;
    text-align: justify;
    justify-content: center;
    margin-top: 40px
;
}
button {
  font-size: 18px;
  padding: 10px 20px;
}
img{
  width: 60%;
  min-height: auto;
margin-top: 3em;}
