header {
  padding: 20px;
}

header .wrapper,
header .wrapper nav {
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

header .wrapper nav {
  display: none;
}

.hero,
.main2 {
  height: auto;
  width: 100vw;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}

.hero .maincontent {
  width: 90%;
  padding: 0 2em;
  text-align: justify;
  justify-content: center;
  margin-top: 40px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
}

img {
  width: 60%;
  min-height:300px;
  min-width: 250px;
  max-width: 45%;
  margin-top: 3em;
}
.img3{
  width:45%;
  min-width:300px;
  margin-top:1.5em;
}
/* ////FOOTER START//// */
.footer .wrapper {
  flex-wrap: wrap;
}

.footer .wrapper .columns {
  gap: 10px;
  margin-right: 3em;
}

.credits p {
  font-size: 1.5em;
}


