header {
    max-height: 10vh;
}

header .wrapper nav {
    display: none;
}

.hero {
    height: auto;
    width: 100vw;
    flex-direction: column;
    gap: 30px;

}

.hero .maincontent {
    width: 90%;
    padding: 0 2em;
    text-align: justify;
    ;
}

.hero .maincontent h2 {
    font-size: 7vmax;
    margin-bottom: 5px;
}

.hero .maincontent p {
    font-size: 3vmax;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
}

.main2 {
    height: auto;
    width: 100vw;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.main2 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.main2 .wrapper .content2 {
    width: 90%;
    padding: 0 2em;
    text-align: justify;
}

.aboutus {
    font-size: 2vmax;
    width: 90%;
    padding: 0 2em;
    text-align: justify;
    height: auto;
}

.aboutus .wrapper {
    flex-direction: column;
    margin:20px;}

.aboutus .main3 {
    width: 85%;
    text-align: justify;
    font-size: 16px;
}

.about2head p {
    font-size: 16px;
}
.aboutus .main3 .btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img3{
    width: 80%;
    margin-top: 1.5em;
}