header {
    max-height: 10vh;
}
header .wrapper nav{
display: none;
}
.hero {
    height: auto;
    width: 100vw;
    flex-direction: column;
    gap: 30px;

}
.hero .maincontent {
    width: 90%;
    padding: 0 2em;
    text-align: justify;
;
}
.hero .maincontent h2 {
    font-size: 7vmax;
    margin-bottom: 5px;
}
.hero .maincontent p {
    font-size: 3vmax;
    margin-bottom: 20px;
}
button {
  font-size: 18px;
  padding: 10px 20px;
}