:root {
    --contrast-color: rgb(81, 211, 81);
    --main-color: black;
    --font-family: sans-serif;
    --main-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
/* header start  */
header {
    background-color: var(--main-color);
    padding: 0 4em;
    width: 100vw;
    min-height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

body {
    overflow-x: hidden;
}

.logo {
    color: var(--main-white);
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;

}

header .wrapper .logo {
    flex-grow: 2;
    
 
}

header .wrapper nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

header .wrapper nav a {
    color: var(--main-white);
    text-decoration: none;
    font-size: 23px;
}
header .wrapper nav a:hover {
  color: var(--contrast-color);
}
/* header end  */
/* main content start  */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('main\ bg\ image.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--main-white);
    margin-top: 70px;
}
.hero .maincontent {
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
 text-align: left;
 line-height: 1.6;
    height: 100%;
    width: 50%;
    
}
.hero .maincontent h2 {
    font-size: 4vmax;
    margin-bottom: 20px;
;
}
.imgmob {
    width: 40%;
    min-height: 400px;
    margin-top: 2em;
    animation: slideInUp 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    position: relative;

}
.hero .btn {
    display:flex;
    gap: 20px;
  
}
 button {
  border: none;
  padding: 1em 1.5em;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
 button:hover {
  background-color: var(--contrast-color);
  color: var(--main-white);
  box-shadow: rgba(249, 249, 250, 0.728) 0px 7px 29px 0px;
  cursor: pointer;
}
.btnemp {
  background-color: transparent;
  color: var(--main-white);
  border: 2px solid var(--contrast-color);
}
.btnfill {
  background-color: var(--contrast-color);
  color: var(--main-white);
}
/* main content end */
@keyframes slideInUp {
  from {
    transform: translateY(-5%);
    visibility: visible;
  }

  to {
    transform: translateY(10%);
  }
}
/* main2 start */
.main2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-color);
    background-color: var(--main-white);
    border-bottom: 1px solid gray;
}
.main2 h2 {
    font-size: 4vmax;
    margin-top:50px;
}
.main2 .wrapper{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.main2 .content2{
    width: 50%;
    text-align: left;
    line-height: 1.3;
    gap: 20px;

}
.img2 {
    width: 40%;
    min-height: 400px;
    animation: slideInUp 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
 

}
/* main2 end */
/* about us start   */
.aboutus {height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    text-align: center;
border-bottom: 1px solid gray;
height: auto;}
    .aboutus h2 {
        font-size: 4vmax;
        margin-top:50px;
    }
    .aboutus p {
        /* font-size: 1.5vmax; */
        margin-top:20px;
    }   
    .aboutus .wrapper{
        display: flex;
        width :90%;
        gap: 50px;
        margin: 50px 50px;
    }
    .aboutus .main3{
        width: 50%;
        text-align: left;
        line-height: 1.3;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    .img3 {
            margin-top: 200px;
        width: 40%;
        min-height: 400px;
        animation: slideInUp 2s ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
     
    }
    .aboutus .main3 .btn .btnemp
{color :black;}
/* about us end  */
/* about 3 start */
.transparent {
    background-image: url(./back1.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 2em;
    text-align: center;
}
.para {
    color: rgb(161, 158, 158);
    line-height: 24px;
}
.transparent h2 {
    font-size: 4vmax;
}
.transparent p {
    font-size: 2vmax;
}
.flex {
    display: flex;
    justify-content: space-around;
      padding: 2em 0px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-white);
}
.item i {
    font-size: 3vmax;
}
.item b {
    font-size: 5em;
}
.item span {
    font-size: 1.5em;
}
/* about 3 end */   
/* about 4 start */
.transparentborder {
    background-color: var(--main-white);
min-height: 300px;
    padding: 2em;
    text-align: center;
    /* border: 2px solid var(--contrast-color); */
    margin: 1.5em;
}
.transparentborder h2 {
    font-size: 4vmax;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.transparentborder p {
    font-size: 2vmax;
    text-align: center;
    margin: 0 auto;
}