:root {
    --contrast-color: rgb(81, 211, 81);
    --main-color: black;
    --font-family: sans-serif;
    --main-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

header {
    background-color: var(--main-color);
    padding: 0 4em;
    width: 100vw;
    min-height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

body {
    overflow-x: hidden;
}

.logo {
    color: var(--main-white);
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;

}

header .wrapper .logo {
    flex-grow: 2;
    color: var(--contrast-color);
 
}

header .wrapper nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

header .wrapper nav a {
    color: var(--main-white);
    text-decoration: none;
    font-size: 23px;
}
header .wrapper nav a:hover {
  color: var(--contrast-color);
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('main\ bg\ image.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--main-white);
    margin-top: 70px;
}
.hero .maincontent {
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
 text-align: left;
 line-height: 1.6;
    height: 100%;
    width: 50%;
}
.hero .maincontent h2 {
    font-size: 4vmax;
    margin-bottom: 20px;
;
}
.imgmob{
    width: 40%;
    
}

